
// HOME PAGE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.about {
     #hero {
          position: relative;
          overflow: hidden;
          color: @white;
          figure {
               z-index: -1;
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;

          }
          .hero-captions {
               height: 100%;
               padding-top: @gap40 * 3;
               height: auto;
               padding-bottom: @gap20 * 3;
          }
          .hero-img-title {
               margin-top: @gap40 * 7;
               padding-top: @gap20;
               border-top: @borderLine;
               border-color: @white;
               position: relative;
               .v-line {
                    position: absolute;
                    top: -@gap40 * 7;
                    left: 50%;
                    width: 1px;
                    height: @gap40 * 7;
                    .BgWhite;
               }
          }
          .hero-bottom {
               padding-top: @gap40 * 3;
               padding-bottom: @gap40 * 3;
          }
          a {
               color: @white;
          }
          @media only screen and (max-width: 1280px) {
               min-height: 100vh;
               .hero-img-title {
                    margin-top: @gap40 * 10;
                     padding-top: @gap40;
                    .v-line {
                         top: -@gap40 * 10;
                         height: @gap40 * 10;
                    }
               }
          }
                     @media only screen and (max-width: 768px) {
               min-height: 100vh;
              .hero-captions {
                    padding-top: @gap40 * 8;
               }
               .hero-img-title {
                    padding-top: @gap40 * 2;
                    margin-top: 40vh;
                    .v-line {
                         top: -40vh;
                         height: 40vh;
                    }
               }
               .hero-bottom {
                    padding-top: @gap40 * 4;
                    padding-bottom: @gap40 * 8;
                    .f-28 {
                         font-size: 18px;
                    }
               }
          }

     }
     

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //ABOUT SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     #about {
          background-color: @fade;
          padding-top: @gap40;
          padding-bottom: @gap40 * 4;

          .img-combo {
               figure {
                    margin-top: 1em;
               }
          }
          ul {
               li {
                    border-bottom: @borderLine;
                    padding: .35em 0 ;
                    line-height: 1em;
               }
               margin-bottom: @gap40;
          }

          @media only screen and (max-width: 1024px) {
               & > p {
                    text-indent: 8em;
               }
          }
          @media only screen and (max-width: 768px) {
               padding-bottom: @gap40 * 10;
               & > p {
                    text-indent: 5em;
               }
               .img-combo {
                    figure {
                         margin-top: .1em;
                         margin-bottom: @gap20 * 1.5;
                    }
               }
          }
          
     }

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //BELIEF SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     #belief {
          overflow: hidden;
          .piano-wrap {
               position: relative;
               padding: @gap40 * 2 0 @gap40;
               #piano {
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
               }
          }
          .outline {
               font-size:30.027vw;
               line-height: .8;
          }
     }
     .circle-slider {
          position: relative;
          padding-top: 40vh;
          .arc-path {
               position: absolute;
               pointer-events: none;
               top: 0;
               left: 0;
               width: 140vw;
               .Transform(translateX(-20vw));
               text {
                    .Title;
                    font-size: clamp(66px, 9.1112vw, 240px);
                    fill:@dark;
               }
               @media only screen and (max-width: 768px) {
                    text {
                         font-size: 40vw;
                    }
                    width: 220vw;
                         .Transform(translateX(-60vw));
                    }
          }
          .labels {
               width: 100vw;

          }
          @media only screen and (max-width: 1280px) {
               padding-top: 30vh;
               .arc-path {
                    width: 180vw;
                    .Transform(translateX(-40vw));
               }
               
          }
          @media only screen and (max-width: 1024px) {
               padding-top: @gap40 * 12;
               
          }
     }
     .slider-img {
          position: relative;
          figure {
               clip-path: inset(0% round 10px);
               position: relative;
               &:not(:first-of-type) {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    top: 0;
                    left: 0;
               }
          }
     }
     .circle-copy {
          margin-top: @gap20 * 3;
          @media only screen and (max-width: 768px) {
               margin-top: @gap40 * 4;
               
          }
     }

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //MANIFESTO SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     #manifesto {
          position: relative;
          .sup-title {
               .Transform(translateY(100%))
          }
          & > .grid-margin {
               position: absolute;
               left: 0;
               top: @gap20;
          }
          .m-list-item {
               border-bottom: @borderLine;
               border-color: fade(@white, 15%);
               padding: @gap40 0;
               position: relative;
               span {
                    opacity: .3;
               }
          }
          @media only screen and (max-width: 768px) {
               & > .grid-margin {
                    position: relative;
                    top: auto;
                    padding: @gap40 * 2 0 @gap40 * 6;
                    left: auto;
                    border-bottom: @borderLine;
                    border-color: fade(@white, 15%);
               }
                .m-list-item {
                    padding: @gap40 * 1.5 2.08333vw;
                    &:first-of-type {
                         padding-top: @gap40 * 1.5;
                    }
                    .f-32 {
                         font-size: 16vw;
                    }
                    p {
                        padding: @gap40 * 1.5 0 ;
                    }
               }
          }
     }

     // CLIENTS //////////////////////
     #clients {
          @media only screen and (max-width: 768px) {
               figure {
                    margin-bottom: @colGap;
               }
          }
     }
     

}