
// SERVICES PAGE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contact {
     #hero {
          padding-top: @gap40 * 3;
          h1 {
               font-size: clamp(60px, 22.22vw, 400px );
               line-height: .9;
          }
          @media only screen and (max-width: 768px) {
               padding-top: @gap40 * 10; 
               h1 {
                    margin-bottom: @gap40 * 2;
               }
          }
     }
     

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //WORK SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     #contact-detail {
          border-top: @borderLine;
          & > div {
               padding-top: @gap20;
          }
          address {
               margin-top: @gap40;
          }
          .sup-title {
               margin-bottom: @gap20;
          }
          @media only screen and (max-width: 1024px) {
               & > div:first-of-type {
                    display: block;
               } 
          }
          @media only screen and (max-width: 768px) {
               address {
                    margin-top: @gap40 * 3;
               }  
          }
     }


     #contact-form {
          padding-bottom: @gap40 * 5;
          padding-left: @gap20;
          border-left: @borderLine;
          @media only screen and (max-width: 768px) {
               padding-left: 0;
               border-left: none;
          }
          form {
               .form-button input[type="submit"] {
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
               }
          }
     }



}