
// HOME PAGE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.home {
     #hero {
          position: relative;
          overflow: hidden;
          color: @white;
          figure {
               z-index: -1;
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;

          }
          .hero-captions {
               padding-top: @gap40 * 3;
               height: auto;
               padding-bottom: @gap20 * 3;
          }
          .hero-img-title {
               margin-top: @gap40 * 7;
               padding-top: @gap20;
               border-top: @borderLine;
               border-color: @white;
               position: relative;
               .v-line {
                    position: absolute;
                    top: -@gap40 * 7;
                    left: 50%;
                    width: 1px;
                    height: @gap40 * 7;
                    .BgWhite;
               }
          }
          .hero-bottom {
               padding-top: @gap40 * 6;
               padding-bottom: @gap40 * 4;
          }
          a {
               color: @white;
          }
          @media only screen and (max-width: 1024px) {
              .hero-captions {
                    padding-top: @gap40 * 4;
               }
          }
           @media only screen and (max-width: 768px) {
               min-height: 100vh;
              .hero-captions {
                    padding-top: @gap40 * 8;
               }
               .hero-img-title {
                    padding-top: @gap40 * 2;
                    margin-top: 40vh;
                    .v-line {
                         top: -40vh;
                         height: 40vh;
                    }
               }
          }

     }

     // WORK SECTOIN /////////////////////////////////////////////////////////////////
     #work {
          padding-top: @gap40;
          .work-title {
               font-size:34.027vw;
               line-height: .8;
          }
     }
     .work-listing {
          article {
               position: relative;
               canvas.equalizer-canvas {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
               }
               i {
                    display: inline-block;
                    margin-top: 1em;
                    opacity: 0;
                    .Transform(translateY(20px));
               }
               &:first-of-type a {
                    margin-top: 0;
                    padding-top: @gap20;
                    border-top: @borderLine;
               }
               a {
                    padding-top: @gap20;
                    padding-bottom: @gap20;
                    border-bottom: @borderLine;
                    position: relative;
                    z-index: 2;
               }
               @media only screen and (min-width: 768px) {
                    .img-left {
                         .Transform(translateX(calc(-@margin - 100%)) rotateZ(-10deg));
                    }
                    .img-right {
                         .Transform(translateX(calc(@margin + 100%)) rotateZ(10deg));
                    }
               }
          }
          .arrow-link {
               margin-top: @gap20 *3;
          }
          @media only screen and (max-width: 768px) {
               article {
                    margin-top: @gap40;
                    padding-bottom: @gap40;
                    &:first-of-type {
                         padding-top: @gap40;
                    }
               }
          }
     }

     // CLIENTS SECTION /////////////////////////////////////////////////////////////////
     #clients {
          @media only screen and (max-width: 768px) {
               .client-row:first-of-type {
                    margin-bottom: 0;
               }
               figure {
                    margin-bottom: @colGap;
               }
          }
     }

     // Testimonials SECTION /////////////////////////////////////////////////////////////////
     #testimonials {
          position: relative;
          padding-top: @gap40 * 7;
          overflow: hidden;
          .arrow {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 100%;
               aspect-ratio: 1;
               cursor: pointer;
               background-image: url("../img/svg/icon-diamond-red.svg");
               background-size: 100% 100%;
               background-position: center center;
               background-repeat: no-repeat;
               font-size: 1px;
               border: none;
               outline: none;
               background-color: transparent;
               .Transition(all 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000));
               @media only screen and (min-width: 768px) {
                    &:hover {
                         .Transform(scale(.95));
                    }
               }
               &:disabled {
                    pointer-events: none;
                    opacity: .15;
               }
          }
          & > h2 {
               position: absolute;
               width: 140vw;
               top: 0;
               z-index: -1;
               left: 50%;
               .X;
               img {
                    width: 100%;
                    pointer-events:none;
                    height: auto;
               }
               span {
                    font-size: 1px;
               }
          }
          .t-image {
               position: relative;
               img:not(:first-of-type) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    .TransformOrigin(bottom center);
               }
          }
          .t-controls {
               & > .st-xl-1 {
                    width: 80px;
               }
               & > .st-xl-1:first-of-type {
                    img {
                         .Transform(scaleX(-1));
                    }
               }
          }
          .t-content {
               margin-top: @gap20 * 3;
               position: relative;
               .t-item:not(.active) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
               }
          }
          .author {
               margin-top: @gap20 * 3;
          }
          .Brown {
               margin-bottom: @gap20;
          }
          @media only screen and (max-width: 1024px) {
              .t-controls {
                    & > .st-xl-1 {
                         width: 60px;
                         height: 60px;
                    }
               }
          }
           @media only screen and (max-width: 768px) {
               padding-top: @gap40 * 10;
               & > h2 {
                    width: 180vw;
                    img {
                         width: 100%;
                    }
               }
              .t-controls {
                    & > .st-xl-1 {
                         width: 50px;
                         height: 50px;
                         img {
                              width: 25%;
                         }
                    }
               }
               .t-content {
                    margin-top: @gap40 * 5;
               }
               .author {
                    margin-top: @gap40 * 5;
               }
          }
     }

     // SERVICES SECTION /////////////////////////////////////////////////////////////////
     #services {
          padding-top: @gap40;
          border-top: @borderLine;
          position: relative;
          .sup-title {
               display: inline-block;
               position: absolute;
               top: @gap40;
               left: 0;
          }
          p {
               position: relative;
               
          }
          & > p {
               text-indent: 3em;
          }
          .img-combo {
               figure {
                    margin-top: .1em;
               }
          }
          ul {
               li {
                    border-bottom: @borderLine;
                    padding: .35em 0 ;
                    line-height: 1em;
               }
               margin-bottom: @gap40;
          }

          @media only screen and (max-width: 1024px) {
               & > p {
                    text-indent: 8em;
               }
          }
          @media only screen and (max-width: 768px) {
               & > p {
                    text-indent: 5em;
               }
               .img-combo {
                    figure {
                         margin-top: .1em;
                         margin-bottom: @gap20 * 1.5;
                    }
               }
          }
     }

     // WHY SECTION /////////////////////////////////////////////////////////////////
     #why {
          padding: @gap40 * 5 0;
          @media only screen and (max-width: 768px) {
              padding: @gap40 * 10 0; 
          }
     }

     // CTA SECTION /////////////////////////////////////////////////////////////////
     #cta {
          position: relative;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          & > figure {
               z-index: -1;
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;
               border-radius: 0px;
          }
          .cta-content {
               background-color: @white;
               .BorderRadius;
               padding: @gap20 @gap20 @gap20 * 3;
               h2 {
                    margin-bottom: @gap20*2;
               }
               figure {
                    aspect-ratio: 1.666;
                    margin-bottom: @gap20 *3;
               }
               figcaption {
                    position: absolute;
                    z-index: 1;
                    color: @white;
                    top: 50%;
                    left: 50%;
                    .XY;
               }
               @media only screen and (max-width: 768px) {
                    figure {
                         margin-bottom: @gap40 *3;
                    }
                    padding-bottom: @gap40 * 3;
               }
          }
          @media only screen and (max-width: 1024px) {
               height: 80vh;
          }
     }

     // BLOG SECTOIN //////////////////////////////////////////////////////////////////////
     #blog {
          .articles {
               display: flex;
               min-height: 80vh;
          }
          article {
               text-align: center;
               flex: 0 0 33.333% ;
               padding: @gap20 * 1.5;
               &:not(:last-of-type) {
                    border-right: @borderLine;
               }
               h3 {
                    margin: 0 @gap20;
               }
              
          }
           @media only screen and (max-width:768px) {
              .articles {
                    display: block;
              }
              article {
                    display: flex;
                    text-align: left;
                    padding: @gap40 * 2 0;
                    margin: 0 @gap20 * 1.5;
                    border-bottom: @borderLine;
                    &:not(:last-of-type) {
                         border-right: none;
                    }
                    &:last-of-type {
                         border-bottom: none;
                         margin-bottom: @gap40 * 6;
                    }
                    figure {
                         align-self: flex-start;
                         flex: 0 0 30vw;
                         margin-right: 2vw;
                    }
                    .tags {
                         display: none;
                    }
              }
          }
          .tags {
               margin: @gap20 0 @gap40;
          }
          & > .grid-margin {
               border-bottom: @borderLine;
          }
          @media only screen and (max-width: 1024px) {
              .articles {
                    min-height: 50vh;
               }
          }
     }

}
