
// SERVICES PAGE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.work {
     #hero {
         padding-top: @gap40 * 4;
          @media only screen and (max-width: 768px) {
              padding-top: @gap40 * 10; 
          }
     }
     

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //WORK SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     #work {
          article {
               padding: @gap20 0;
               border-bottom: @borderLine;
               h3 {
                    margin-bottom: @gap20;
               }
               &:first-of-type {
                    border-top: @borderLine;
               }
               &:last-of-type {
                    border-bottom: none;
               }
               .img-2x {
                    padding-top: @gap20;
               }
               .scroll-text {
                    img {
                         width: 1.5em;
                         height: auto;
                         display: inline-block;
                         margin-top: 1em;
                    }
               }
               // .img-2x {
               //      height: al
               // }
          }
          @media only screen and (max-width: 768px) {
               article {
                    padding: @gap40 0;
                    .st-xl-12.st-xs-10.st-grid.xs-wrap {
                         h2, .st-xl-5.st-xs-10.xs-self-end {
                              padding-left: @gap20 ;
                         }
                    }
                    .scroll-text {
                         img {
                              width: 1.4em;
                              height: auto;
                              display: inline-block;
                              margin-top: 1em;
                         }
                         p {
                              display: none;
                         }
                    }
               }
          }
     }


}