
// SERVICES PAGE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.work-detail {
     #hero {
          position: relative;
          overflow: hidden;
          color: @white;
          figure {
               z-index: -1;
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;

          }
          .parallax {
               background-color: @dark;
               img {
                    opacity: .65;
               }
          }
          .hero-captions {
               height: 100%;
               padding-top: @gap40 * 3;
               height: auto;
               padding-bottom: @gap20 * 3;
          }
          .hero-img-title {
               margin-top: @gap40 * 7;
               padding-top: @gap20;
               border-top: @borderLine;
               border-color: @white;
               position: relative;
               .v-line {
                    position: absolute;
                    top: -@gap40 * 7;
                    left: 50%;
                    width: 1px;
                    height: @gap40 * 7;
                    .BgWhite;
               }
          }
          .hero-bottom {
               padding-top: @gap40 * 2;
               padding-bottom: @gap40 * 3;
          }
          a {
               color: @white;
          }

          @media only screen and (max-width: 1280px) {
               min-height: 100vh;
               .hero-img-title {
                    margin-top: @gap40 * 10;
                     padding-top: @gap40;
                    .v-line {
                         top: -@gap40 * 10;
                         height: @gap40 * 10;
                    }
               }
          }

          @media only screen and (max-width: 768px) {
               min-height: 100vh;
              .hero-captions {
                    padding-top: @gap40 * 8;
               }
               .hero-img-title {
                    padding-top: @gap40 * 2;
                    margin-top: 40vh;
                    .v-line {
                         top: -40vh;
                         height: 40vh;
                    }
               }
               .hero-bottom {
                    padding-top: @gap40 * 6;
                    padding-bottom: @gap40 * 8;
                    .f-28 {
                         font-size: 18px;
                    }
               }
          }

     }
     

     /////////////////////////////////////////////////////////////////////////////////////////////////
     //ABOUT SECTION
     ///////////////////////////////////////////////////////////////////////////////////////////////
     .video-wrap {
          position: relative;
          line-height: 0;
          .icon-play {
               cursor: pointer;
               position: absolute;
               top: 50%;
               left: 50%;
               width: @gap40 * 2;
               height: @gap40 * 2;
               border-radius: 50%;
               display: flex;
               justify-content: center;
               align-items: center;
               .XY;
               span {
                    display: block;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    .BgBrown;
               }
               img {
                    position: relative;
                    z-index: 2;
               }
          }
     }

     // CONTENT /////////////////////////////////////////////////////////////////
     #project-content {
          p {
               font-size: clamp(16px, 1.25vw, 22px);
               line-height: 1.333;
          }
     }
     .category {
          border-top: @borderLine;
          padding: @gap20 0 @gap20 * 3;
          @media only screen and (max-width: 1024px) {
              padding: @gap40 *2 0 @gap40 * 4; 
          }
     }
     .drag-slider {
          padding-bottom: @gap20;
          .slider-inner {
               width: auto;
          }
     }
     .img-box + .img-box {
          margin-top: @gap20;
     }
     .table-item {
          border-bottom: @borderLine;
          padding: @gap20 0;
          &:first-of-type {
               border-top: @borderLine;
          }
          & > div:not(:first-of-type) {
               padding-top: @gap20 * .5;
          }

     }

     // CONTENT /////////////////////////////////////////////////////////////////
     #testimonials {
          padding: @gap40 * 3 0;
          min-height: 75vh;
          height: auto;
          .BgFade;
          .client-name {
               margin-top: @gap40 * 6;
          }
          @media only screen and (max-width: 1280px) {
               padding: @gap40 * 5 0;
               min-height: auto;
          }
           @media only screen and (max-width: 768px) {
               padding: @gap40 * 10 0;
               min-height: auto;
           }
     }



     // WORK SECTOIN /////////////////////////////////////////////////////////////////
     #work {
          padding-top: @gap40;
          .work-title {
               font-size:34.027vw;
               line-height: .8;
          }
     }
     .work-listing {
          article {
               position: relative;
               canvas.equalizer-canvas {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
               }
               a {
                    margin-top: @gap20;
                    padding-bottom: @gap20;
                    border-bottom: @borderLine;
                    position: relative;
                    z-index: 2;
               }
               i {
                    display: inline-block;
                    margin-top: 1em;
               }
               &:first-of-type a {
                    margin-top: 0;
                    padding-top: @gap20;
                    border-top: @borderLine;
               }
               &:last-of-type a {
                    border-bottom: none;
               }
               @media only screen and (max-width: 768px) {
                    margin-top: @gap40;
                    padding-bottom: @gap40;
                    &:first-of-type {
                         padding-top: @gap40;
                    }
               }
          }
     }


     // CTA  SECTOIN /////////////////////////////////////////////////////////////////
     #cta {
          position: relative;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          & > figure {
               z-index: -1;
               width: 100%;
               height: 100%;
               position: absolute;
               top: 0;
               left: 0;
          }
          .cta-content {
               background-color: @white;
               .BorderRadius;
               padding: @gap20 @gap20 @gap20*3;
               h2 {
                    margin-bottom: @gap20*2;
               }
               figure {
                    aspect-ratio: 1.666;
                    margin-bottom: @gap20 *3;
               }
               figcaption {
                    position: absolute;
                    z-index: 1;
                    color: @white;
                    top: 50%;
                    left: 50%;
                    .XY;
               }
               @media only screen and (max-width: 768px) {
                    figure {
                         margin-bottom: @gap40 *3;
                    }
                    padding-bottom: @gap40 * 3;
               }
          }
          @media only screen and (max-width: 1280px) {
               
          }
          @media only screen and (max-width: 1024px) {
               height: 80vh;
          }
          
     }


}