.jm-grid {
  display: flex;
  flex-wrap: nowrap;
}
.jm-grid.grid-bottom {
  align-items: flex-end;
}
.jm-grid.grid-middle {
  align-items: center;
}
.jm-grid.grid-between {
  justify-content: space-between;
}
.jm-grid.grid-around {
  justify-content: space-around;
}
.jm-grid.c-reverse {
  flex-direction: column-reverse;
}
[class^="c8-xl"] {
  flex: 0 0 auto;
}
.jm-xl-1 {
  width: 5.263vw;
}
.jm-xl-2 {
  width: 10.526vw;
}
.jm-xl-3 {
  width: 15.789vw;
}
.jm-xl-4 {
  width: 21.052vw;
}
.jm-xl-5 {
  width: 26.315vw;
}
.jm-xl-6 {
  width: 31.578vw;
}
.jm-xl-7 {
  width: 36.841vw;
}
.jm-xl-8 {
  width: 42.104vw;
}
.jm-xl-9 {
  width: 47.367vw;
}
.jm-xl-10 {
  width: 52.63vw;
}
.jm-xl-11 {
  width: 57.893vw;
}
.jm-xl-12 {
  width: 63.156vw;
}
.jm-xl-13 {
  width: 68.419vw;
}
.jm-xl-14 {
  width: 73.682vw;
}
.jm-xl-15 {
  width: 78.945vw;
}
.jm-xl-16 {
  width: 84.208vw;
}
.jm-xl-17 {
  width: 89.471vw;
}
.jm-xl-18 {
  width: 94.734vw;
}
.jm-xl-19 {
  width: 99.997vw;
}
.jm-xl-os-1 {
  margin-left: 0vw;
}
.jm-xl-os-1 {
  margin-left: 5.263vw;
}
.jm-xl-os-2 {
  margin-left: 10.526vw;
}
.jm-xl-os-3 {
  margin-left: 15.789vw;
}
.jm-xl-os-4 {
  margin-left: 21.052vw;
}
.jm-xl-os-5 {
  margin-left: 26.315vw;
}
.jm-xl-os-6 {
  margin-left: 31.578vw;
}
.jm-xl-os-7 {
  margin-left: 36.841vw;
}
.jm-xl-os-8 {
  margin-left: 42.104vw;
}
.jm-xl-os-9 {
  margin-left: 47.367vw;
}
.jm-xl-os-10 {
  margin-left: 52.63vw;
}
.jm-xl-os-11 {
  margin-left: 57.893vw;
}
.jm-xl-os-12 {
  margin-left: 63.156vw;
}
.jm-xl-os-13 {
  margin-left: 68.419vw;
}
.jm-xl-os-14 {
  margin-left: 73.682vw;
}
.jm-xl-os-15 {
  margin-left: 78.945vw;
}
.jm-xl-os-16 {
  margin-left: 84.208vw;
}
.jm-xl-os-17 {
  margin-left: 89.471vw;
}
.jm-xl-os-18 {
  margin-left: 94.734vw;
}
.jm-xl-os-19 {
  margin-left: 99.997vw;
}
.xl-top-1 {
  margin-top: 5vh;
}
.xl-top-2 {
  margin-top: 10vh;
}
.xl-top-3 {
  margin-top: 15vh;
}
.xl-top-4 {
  margin-top: 20vh;
}
.xl-top-5 {
  margin-top: 25vh;
}
.xl-top-6 {
  margin-top: 30vh;
}
.xl-top-7 {
  margin-top: 35vh;
}
.xl-top-8 {
  margin-top: 40vh;
}
.xl-top-9 {
  margin-top: 45vh;
}
.xl-bottom-1 {
  margin-bottom: 5vh;
}
.xl-bottom-2 {
  margin-bottom: 10vh;
}
.xl-bottom-3 {
  margin-bottom: 15vh;
}
.xl-bottom-4 {
  margin-bottom: 20vh;
}
.xl-bottom-5 {
  margin-bottom: 25vh;
}
.xl-bottom-6 {
  margin-bottom: 30vh;
}
.xl-bottom-7 {
  margin-bottom: 35vh;
}
.xl-bottom-8 {
  margin-bottom: 40vh;
}
.xl-bottom-9 {
  margin-bottom: 45vh;
}
@media only screen and (max-width: 1280px) {
  .jm-lg-1 {
    width: 5.263vw;
  }
  .jm-lg-2 {
    width: 10.526vw;
  }
  .jm-lg-3 {
    width: 15.789vw;
  }
  .jm-lg-4 {
    width: 21.052vw;
  }
  .jm-lg-5 {
    width: 26.315vw;
  }
  .jm-lg-6 {
    width: 31.578vw;
  }
  .jm-lg-7 {
    width: 36.841vw;
  }
  .jm-lg-8 {
    width: 42.104vw;
  }
  .jm-lg-9 {
    width: 47.367vw;
  }
  .jm-lg-10 {
    width: 52.63vw;
  }
  .jm-lg-11 {
    width: 57.893vw;
  }
  .jm-lg-12 {
    width: 63.156vw;
  }
  .jm-lg-13 {
    width: 68.419vw;
  }
  .jm-lg-14 {
    width: 73.682vw;
  }
  .jm-lg-15 {
    width: 78.945vw;
  }
  .jm-lg-16 {
    width: 84.208vw;
  }
  .jm-lg-17 {
    width: 89.471vw;
  }
  .jm-lg-18 {
    width: 94.734vw;
  }
  .jm-lg-19 {
    width: 99.997vw;
  }
  .jm-lg-os-0 {
    margin-left: 0vw;
  }
  .jm-lg-os-1 {
    margin-left: 5.263vw;
  }
  .jm-lg-os-2 {
    margin-left: 10.526vw;
  }
  .jm-lg-os-3 {
    margin-left: 15.789vw;
  }
  .jm-lg-os-4 {
    margin-left: 21.052vw;
  }
  .jm-lg-os-5 {
    margin-left: 26.315vw;
  }
  .jm-lg-os-6 {
    margin-left: 31.578vw;
  }
  .jm-lg-os-7 {
    margin-left: 36.841vw;
  }
  .jm-lg-os-8 {
    margin-left: 42.104vw;
  }
  .jm-lg-os-9 {
    margin-left: 47.367vw;
  }
  .jm-lg-os-10 {
    margin-left: 52.63vw;
  }
  .jm-lg-os-11 {
    margin-left: 57.893vw;
  }
  .jm-lg-os-12 {
    margin-left: 63.156vw;
  }
  .jm-lg-os-13 {
    margin-left: 68.419vw;
  }
  .jm-lg-os-14 {
    margin-left: 73.682vw;
  }
  .jm-lg-os-15 {
    margin-left: 78.945vw;
  }
  .jm-lg-os-16 {
    margin-left: 84.208vw;
  }
  .jm-lg-os-17 {
    margin-left: 89.471vw;
  }
  .jm-lg-os-18 {
    margin-left: 94.734vw;
  }
  .jm-lg-os-19 {
    margin-left: 99.997vw;
  }
}
@media only screen and (max-width: 1024px) {
  .sm-wrap {
    flex-wrap: wrap;
  }
  .sm-bottom-1 {
    margin-bottom: 5vh;
  }
  .sm-bottom-2 {
    margin-bottom: 10vh;
  }
  .sm-bottom-3 {
    margin-bottom: 15vh;
  }
  .sm-bottom-4 {
    margin-bottom: 20vh;
  }
  .sm-bottom-5 {
    margin-bottom: 25vh;
  }
  .sm-top-1 {
    margin-top: 5vh;
  }
  .sm-top-2 {
    margin-top: 10vh;
  }
  .sm-top-3 {
    margin-top: 15vh;
  }
  .sm-top-4 {
    margin-top: 20vh;
  }
  .sm-top-5 {
    margin-top: 25vh;
  }
  .jm-sm-1 {
    width: 5.263vw;
  }
  .jm-sm-2 {
    width: 10.526vw;
  }
  .jm-sm-3 {
    width: 15.789vw;
  }
  .jm-sm-4 {
    width: 21.052vw;
  }
  .jm-sm-5 {
    width: 26.315vw;
  }
  .jm-sm-6 {
    width: 31.578vw;
  }
  .jm-sm-7 {
    width: 36.841vw;
  }
  .jm-sm-8 {
    width: 42.104vw;
  }
  .jm-sm-9 {
    width: 47.367vw;
  }
  .jm-sm-10 {
    width: 52.63vw;
  }
  .jm-sm-11 {
    width: 57.893vw;
  }
  .jm-sm-12 {
    width: 63.156vw;
  }
  .jm-sm-13 {
    width: 68.419vw;
  }
  .jm-sm-14 {
    width: 73.682vw;
  }
  .jm-sm-15 {
    width: 78.945vw;
  }
  .jm-sm-16 {
    width: 84.208vw;
  }
  .jm-sm-17 {
    width: 89.471vw;
  }
  .jm-sm-18 {
    width: 94.734vw;
  }
  .jm-sm-19 {
    width: 99.997vw;
  }
  .jm-sm-os-0 {
    margin-left: 0vw;
  }
  .jm-sm-os-1 {
    margin-left: 5.263vw;
  }
  .jm-sm-os-2 {
    margin-left: 10.526vw;
  }
  .jm-sm-os-3 {
    margin-left: 15.789vw;
  }
  .jm-sm-os-4 {
    margin-left: 21.052vw;
  }
  .jm-sm-os-5 {
    margin-left: 26.315vw;
  }
  .jm-sm-os-6 {
    margin-left: 31.578vw;
  }
  .jm-sm-os-7 {
    margin-left: 36.841vw;
  }
  .jm-sm-os-8 {
    margin-left: 42.104vw;
  }
  .jm-sm-os-9 {
    margin-left: 47.367vw;
  }
  .jm-sm-os-10 {
    margin-left: 52.63vw;
  }
  .jm-sm-os-11 {
    margin-left: 57.893vw;
  }
  .jm-sm-os-12 {
    margin-left: 63.156vw;
  }
  .jm-sm-os-13 {
    margin-left: 68.419vw;
  }
  .jm-sm-os-14 {
    margin-left: 73.682vw;
  }
  .jm-sm-os-15 {
    margin-left: 78.945vw;
  }
  .jm-sm-os-16 {
    margin-left: 84.208vw;
  }
  .jm-sm-os-17 {
    margin-left: 89.471vw;
  }
  .jm-sm-os-18 {
    margin-left: 94.734vw;
  }
  .jm-sm-os-19 {
    margin-left: 99.997vw;
  }
}
@media only screen and (max-width: 768px) {
  .xs-wrap {
    flex-wrap: wrap;
  }
  .xs-bottom-1 {
    margin-bottom: 5vh;
  }
  .xs-bottom-2 {
    margin-bottom: 10vh;
  }
  .xs-bottom-3 {
    margin-bottom: 15vh;
  }
  .xs-top-1 {
    margin-top: 5vh;
  }
  .xs-top-2 {
    margin-top: 10vh;
  }
  .xs-top-3 {
    margin-top: 15vh;
  }
  .jm-xs-1 {
    width: 5.263vw;
  }
  .jm-xs-2 {
    width: 10.526vw;
  }
  .jm-xs-3 {
    width: 15.789vw;
  }
  .jm-xs-4 {
    width: 21.052vw;
  }
  .jm-xs-5 {
    width: 26.315vw;
  }
  .jm-xs-6 {
    width: 31.578vw;
  }
  .jm-xs-7 {
    width: 36.841vw;
  }
  .jm-xs-8 {
    width: 42.104vw;
  }
  .jm-xs-9 {
    width: 47.367vw;
  }
  .jm-xs-10 {
    width: 52.63vw;
  }
  .jm-xs-11 {
    width: 57.893vw;
  }
  .jm-xs-12 {
    width: 63.156vw;
  }
  .jm-xs-13 {
    width: 68.419vw;
  }
  .jm-xs-14 {
    width: 73.682vw;
  }
  .jm-xs-15 {
    width: 78.945vw;
  }
  .jm-xs-16 {
    width: 84.208vw;
  }
  .jm-xs-17 {
    width: 89.471vw;
  }
  .jm-xs-18 {
    width: 94.734vw;
  }
  .jm-xs-19 {
    width: 99.997vw;
  }
  .jm-xs-os-0 {
    margin-left: 0vw;
  }
  .jm-xs-os-1 {
    margin-left: 5.263vw;
  }
  .jm-xs-os-2 {
    margin-left: 10.526vw;
  }
  .jm-xs-os-3 {
    margin-left: 15.789vw;
  }
  .jm-xs-os-4 {
    margin-left: 21.052vw;
  }
  .jm-xs-os-5 {
    margin-left: 26.315vw;
  }
  .jm-xs-os-6 {
    margin-left: 31.578vw;
  }
  .jm-xs-os-7 {
    margin-left: 36.841vw;
  }
  .jm-xs-os-8 {
    margin-left: 42.104vw;
  }
  .jm-xs-os-9 {
    margin-left: 47.367vw;
  }
  .jm-xs-os-10 {
    margin-left: 52.63vw;
  }
  .jm-xs-os-11 {
    margin-left: 57.893vw;
  }
  .jm-xs-os-12 {
    margin-left: 63.156vw;
  }
  .jm-xs-os-13 {
    margin-left: 68.419vw;
  }
  .jm-xs-os-14 {
    margin-left: 73.682vw;
  }
  .jm-xs-os-15 {
    margin-left: 78.945vw;
  }
  .jm-xs-os-16 {
    margin-left: 84.208vw;
  }
  .jm-xs-os-17 {
    margin-left: 89.471vw;
  }
  .jm-xs-os-18 {
    margin-left: 94.734vw;
  }
  .jm-xs-os-19 {
    margin-left: 99.997vw;
  }
}
