@font-face {
    font-family: 'Epica Pro';
    src: url('EpicaPro-Light.woff2') format('woff2'),
        url('EpicaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Epica Sans Pro';
    src: url('EpicaSansPro-ExtraLight.woff2') format('woff2'),
        url('EpicaSansPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Epica Sans Pro';
    src: url('EpicaSansPro-Light.woff2') format('woff2'),
        url('EpicaSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Epica Sans Pro';
    src: url('EpicaSansPro-SemiBold.woff2') format('woff2'),
        url('EpicaSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

